@font-face {
    font-family: 'Source Sans Pro';
    src: url('https://assets.ajio.com/static/assets/fonts/SourceSansPro--70479481cd786114774c92e8d04a4028.70479481cd786114774c92e8d04a4028.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora Regular';
    src: url('https://assets.ajio.com/static/assets/fonts/Lora-Regular--12c052959e60357f292b2bed94162d01.12c052959e60357f292b2bed94162d01.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.inner {
    margin-left: 58px;
    margin-right: 58px;
    /* margin:50%; */
}



.inner hr {
    color:transparent;
    opacity: 80%;
    border-bottom:solid  white 1px !important;
}

.outer {
    min-width: 1360px;
    background-color: rgb(44, 65, 82);
    background-repeat: inherit;
}

.inner a {
    display: block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: #CCC;
    margin-bottom: 6px;
}

.inner .innerTitle {
    font-size: 14px;
    font-family: 'Lora Regular';
    color: #CCC;
    margin-top: 15px;
    margin-bottom: 14px;
    cursor: auto;
}

.inner .secure {
    margin-left: 80px;
}